---
import ProjectCardInteractive from "./ProjectCardInteractive";
import Button from "./Button.astro";

interface Props {
  projects: {
    title: string;
    description: string;
    category?: string;
    demoLink?: string;
    githubLink?: string;
    tags?: string[];
  }[];
  className: string;

  // A path link to see the articles when the button is clicked
  seeAllLink: string;
}

const { projects, className, seeAllLink } = Astro.props;
---

<div class={className}>
  <div class="mb-4 flex items-center justify-between">
    <h2>Pet Projects</h2>

    <Button as="a" href={seeAllLink}> See More </Button>
  </div>

  <div class="-m-2 flex flex-wrap sm:flex-row">
    {
      projects.map((item) => (
        <div class="w-full p-2 md:w-1/2 lg:w-1/3">
          <ProjectCardInteractive
            client:load
            name={item.title}
            description={item.description}
            category={item.category}
            demoLink={item.demoLink}
            githubLink={item.githubLink}
            tags={item.tags}
          />
        </div>
      ))
    }
  </div>
</div>
