---
import "../styles/global.css";

import type { CollectionEntry } from "astro:content";
import type { MarkdownHeading } from "astro";
import { Image } from "astro:assets";
import dayjs from "dayjs";
import { kebabCase } from "lodash-es";

import {
  SOCIAL_TWITTER,
  SITE_URL,
  NAVBAR_HEIGHT_ESTIMATION_IN_PX,
} from "../constants/config";
import SocialShareButtons from "../components/SocialShareButtons";
import BlogComments from "../components/BlogComments";
// import ButtonScrollTop from "../components/ButtonScrollTop";
import TableOfContents from "../components/TableOfContents.tsx";
import TocDrawerButton from "../components/TocDrawerButton.tsx";
import BaseLayout from "./BaseLayout.astro";
import clsx from "clsx";

type Props = CollectionEntry<"blog">["data"] & {
  headings: MarkdownHeading[];
};

const {
  slug,
  title,
  description,
  pubDate,
  featured,
  featuredSource,
  featuredSourceUrl,
  headings,
} = Astro.props;

const date = dayjs(pubDate).format("MMM YYYY");

const articleHasHeadings = headings.length > 0;
---

<BaseLayout
  pageTitle={`${title} | Tri Hargianto`}
  pageDescription={description}
>
  <!-- <ButtonScrollTop client:idle /> -->

  <p class="mb-2 text-sm text-gray-700 dark:text-gray-500">
    <span>🗓️ {date}</span>
  </p>

  <h1 class="mb-3!" style={{ viewTransitionName: kebabCase(title) }}>
    {title}
  </h1>

  <p class="mb-4 text-sm! text-gray-700 dark:text-gray-500 sm:text-base">
    {description}
  </p>

  <Image src={featured} alt={title} class="w-full" />

  {
    featuredSource && featuredSourceUrl ? (
      <p class="w-full text-xs mt-1 text-center">
        Original Photo by
        <a
          href={featuredSourceUrl}
          target="_blank"
          rel="noopener"
          class="underline"
        >
          {featuredSource}
        </a>
      </p>
    ) : null
  }

  <section class="flex max-w-none prose dark:prose-invert pt-6">
    <div
      class:list={{
        "w-full lg:w-3/4 lg:pr-7": articleHasHeadings,
      }}
    >
      <slot />
    </div>

    {
      articleHasHeadings ? (
        <>
          {/* Desktop */}
          <div class="hidden lg:block w-1/4 pl-6">
            <div
              class:list={["sticky right-8 w-full overflow-auto duration-300"]}
              style={{
                top: `${NAVBAR_HEIGHT_ESTIMATION_IN_PX + 10}px`,
              }}
            >
              <TableOfContents headings={headings} client:visible />
            </div>
          </div>

          {/* Mobile */}
          <div class="block lg:hidden">
            <TocDrawerButton client:visible headings={headings} />
          </div>
        </>
      ) : null
    }
  </section>

  <div class="container mx-auto">
    <SocialShareButtons
      socialConfig={{
        twitter: SOCIAL_TWITTER,
        config: {
          url: `${SITE_URL}${slug}`,
          title,
          description,
        },
      }}
      client:idle
    />

    <p class="mb-6 text-left text-2xl font-semibold md:text-center">Comments</p>

    <BlogComments client:idle />
  </div>
</BaseLayout>
